.my-exp {
    position: relative;
    display: block; 
    background-color: grey;
      
    
    &__ermo-img{
        display: block;
        @mixin atMedium{
            float: left;
            margin-bottom: 15px;          

        }
    }

    &__title{
        
        text-align: center; 
        font-weight: 300;
        color: $mainColor;
        font-size: 1.8rem;

        @mixin atMedium {
            font-size: 3.8rem;
            
        }
    }
    &__text{
        
        max-width: 150rem;
        font-size: 1.4rem;
        color:black;
        font-weight: 300;
        text-align: center;
    }
  
}